@model CDMS.Entities.VARIETY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VARIETY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.varietyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varietyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGEGROUP.agegroupname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGEGROUP.agegroupname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.varietyid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
