@model CDMS.Entities.AILIST

@{
    ViewBag.Title = "Create";
}

<h2>@*Create*@</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Add Assistant Instructors</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ascid, "Agricultural Service Center", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ascid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ascid, "", new { @class = "text-danger" })
                <a href="~/ASCs/Create" class="btn btn-success btn-sm">ADD</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.airange,"AI Range", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.airange, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.airange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ainame,"Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ainame, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ainame, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nic,"NIC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telephone,"Telephone", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="~/MajorPaddies/Create" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Back </a>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
