@model CDMS.Entities.AILIST

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AILIST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.airange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ainame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ainame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASC.ascname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASC.ascname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.aiid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
