@model IEnumerable<CDMS.Entities.AILIST>

@{
    ViewBag.Title = "Index";
}

<h2>AGRICULTURE INSTRUCTORS</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<a href="~/AILISTs/Create" class="btn btn-success btn-sm" style="margin-bottom:1%;">ADD</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ASC.D.DSTRCT.districtname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASC.D.dsname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASC.ascname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ainame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ASC.D.DSTRCT.districtname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASC.D.dsname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASC.ascname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.airange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ainame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.aiid }) |
            @Html.ActionLink("Details", "Details", new { id=item.aiid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.aiid })
        </td>*@
    </tr>
}

</table>
