@model CDMS.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div id="contact" class="container-fluid bg-grey" style="background-color:#f6f6f6;">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> North Central Province, Sri Lanka</p>
            <p><span class="glyphicon glyphicon-phone"></span> +9425 2222189</p>
            <p><span class="glyphicon glyphicon-envelope"></span> npagri@gmail.com</p>
        </div>

        <div class="col-sm-7">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromName, "Name", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FromEmail, "Email", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Message, "Comment", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" style="float:right; background-color:#529708;" class="btn btn-success" value="Send >>" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
