@model IEnumerable<CDMS.Entities.D>

@{
    ViewBag.Title = "Index";
}

<h2>Divisional Secretarians</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="~/D/Create" class="btn btn-default btn-sm">Create New</a>

    <a href="~/ASCs/Create" class="btn btn-default btn-sm">Add ASC</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dsname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSTRCT.districtname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dsname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DSTRCT.districtname)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.dsid }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.dsid }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.dsid })
        </td>
    </tr>
}

</table>
