@model IEnumerable<CDMS.Entities.RAINFEDPADDY>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2 style="color:#12ca12;">RAINFED PADDY</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@{
    double mpc = 0;
    double mtc = 0;
    double ypc = 0;
    double ytc = 0;
}

<table class="table">
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.YEAR.yearref)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MONTH.SEASON.seasonname)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MONTH.monthname)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.AILIST.airange)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.VARIETY.varietyname)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.monthlytarget)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.monthlyprogress)
    </th>

    <th></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YEAR.yearref)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTH.SEASON.seasonname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTH.monthname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AILIST.airange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VARIETY.varietyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthlytarget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monthlyprogress)
        </td>
        @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>*@
    </tr>
}

</table>
@foreach (var item in Model)
{
    if (@item.MONTH.SEASON.seasonname == @item.MONTH.SEASON.seasonmaha && @item.YEAR.yearid == 9)
    {
        mpc = item.monthlyprogress + mpc;
        mtc = item.monthlytarget + mtc;
    }
    else if (@item.MONTH.SEASON.seasonname == @item.MONTH.SEASON.seasonyala && @item.YEAR.yearid == 9)
    {
        ypc = item.monthlyprogress + ypc;
        ytc = item.monthlytarget + ytc;
    }
}
@{
    double mratio = Math.Round((mpc / mtc) * 100, 2);
    double yratio = Math.Round((ypc / ytc) * 100, 2);
}
<h4>Yala Target Achievement</h4>
@if (yratio >= 0)
{
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @yratio%; background-color:#57bf57;" aria-valuenow="@yratio" aria-valuemin="0" aria-valuemax="100">@yratio%</div>
    </div>
}
else
{
    <p>No data to display for this year</p>
}
<h4>Maha Target Achievement</h4>
@if (mratio >= 0)
{
    <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @mratio%" aria-valuenow="@mratio" aria-valuemin="0" aria-valuemax="100">@mratio%</div>
    </div>
}
else
{
    <p>No data to display for this year</p>
}
