@model CDMS.Entities.MAJORPADDY

@{
    ViewBag.Title = "Create";
}
<div class="row">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><br/>MAJOR IRRIGATION<br/></h4>
        <hr />
        <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.aiid, "AI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("aiid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.aiid, "", new { @class = "text-danger" })
                <a href="~/AILISTs/Create" class="btn btn-success btn-sm">ADD</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.yearid, "Year", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("yearid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.yearid, "", new { @class = "text-danger" })
                <a href="~/YEARs/Create" class="btn btn-success btn-sm">ADD</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monthid, "Month", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("monthid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.monthid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.varietyid, "Variety", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("varietyid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.varietyid, "", new { @class = "text-danger" })
                <a href="~/VARIETies/Create" class="btn btn-success btn-sm">ADD</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monthlytarget, "Monthly Target", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monthlytarget, new { htmlAttributes = new { @class = "form-control", placeholder = "Hectare" } })
                @Html.ValidationMessageFor(model => model.monthlytarget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.monthlyprogress, "Monthly Progress", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monthlyprogress, new { htmlAttributes = new { @class = "form-control" , placeholder= "Hectare"}})
                @Html.ValidationMessageFor(model => model.monthlyprogress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    </div>
}
<div class="col-md-6">
    <div>
        <a href="~/MajorPaddies/Index" class="btn btn-default btn-lg">View Statistics <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a>
    </div>
    <br/>
    <a href="~/MinorPaddies/Create" class="btn btn-default btn-lg">Minor Irrigation</a>
    <a href="~/RainfedPaddies/Create" class="btn btn-default btn-lg">Rainfed Irrigation</a>
</div>
</div>
@*<iframe src="~/MinorPaddies/Create" seamless="seamless" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

<iframe src="~/RainfedPaddies/Create" seamless="seamless" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
