@model CDMS.Entities.MAJORPADDY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MAJORPADDY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monthlytarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlytarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyprogress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyprogress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AILIST.airange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AILIST.airange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTH.monthname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTH.monthname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VARIETY.varietyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VARIETY.varietyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEAR.yearid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEAR.yearid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
